In [5]:
# Libraries
import pandas as pd
import numpy as np
from tableone import TableOne
from datetime import datetime

In [4]:
# Read in as data frame
data = pd.read_csv('/Users/timvigers/Downloads/162250BMTCGMStudy_DATA_2019-07-12_1245.csv')
# Get demographic info
demographics = data.drop_duplicates(subset='study_id', keep='first')
demographics = demographics.reset_index(drop=True)
# Combine race columns
race = []
for i in range(demographics.shape[0]):
    if demographics.loc[i,'race_multi'] == 1:
        race.append('race_multi')
    elif demographics.loc[i,'race___0'] == 1:
        race.append('race_0')
    elif demographics.loc[i,'race___1'] == 1:
        race.append('race_1')
    elif demographics.loc[i,'race___2'] == 1:
        race.append('race_2')
    elif demographics.loc[i,'race___3'] == 1:
        race.append('race_3')
    elif demographics.loc[i,'race___4'] == 1:
        race.append('race_4')
    elif demographics.loc[i,'race___5'] == 1:
        race.append('race_5')
    elif demographics.loc[i,'race___6'] == 1:
        race.append('race_6')
    else:
        race.append('unknown')
demographics.insert(1,'race',race)

,study_id,race,redcap_repeat_instrument,redcap_repeat_instance,mrn,date_of_birth,gender,ethnicity,race___0,race___1,...,ae_date,ae_resolv,ae_date_resolv,ae_grade,ae_tx,ae_tx_type,ae_attrib,plts_bleed,followup,study_complete
0,1,race_4,NaN,NaN,1691098.0,7/29/00,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/8/18,2.0
1,2,race_4,NaN,NaN,1931336.0,11/10/00,0.0,1.0,0.0,0.0,...,3/3/17,1.0,3/3/17,1.0,0.0,NaN,3.0,29,2/28/18,2.0
2,3,race_4,NaN,NaN,1208589.0,12/21/03,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/28/17,2.0
3,4,race_2,NaN,NaN,742594.0,5/16/99,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/1/18,2.0
4,5,race_5,NaN,NaN,1960454.0,4/10/13,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/3/17,2.0
5,6,race_5,NaN,NaN,1728477.0,11/29/00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/15/18,2.0
6,7,race_4,NaN,NaN,1419207.0,11/17/10,1.0,1.0,0.0,0.0,...,7/23/17,1.0,7/23/17,1.0,0.0,NaN,3.0,49,7/1/19,2.0
7,8,race_5,NaN,NaN,1551967.0,11/13/12,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
8,9,race_5,NaN,NaN,1972637.0,12/26/02,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
9,10,unknown,NaN,NaN,1988632.0,5/18/01,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
10,11,race_4,NaN,NaN,1974513.0,4/10/15,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
11,12,race_4,NaN,NaN,1822071.0,8/7/15,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
12,13,race_5,NaN,NaN,1747103.0,10/16/14,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
13,14,race_5,NaN,NaN,1926838.0,4/26/00,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/19,2.0
14,15,race_4,NaN,NaN,1592697.0,7/30/10,1.0,1.0,0.0,0.0,...,3/19/18,1.0,3/19/18,1.0,0.0,NaN,3.0,"18, transfused",7/1/19,2.0
15,16,race_4,NaN,NaN,2030648.0,3/21/15,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/19,2.0
16,17,race_4,NaN,NaN,2002225.0,10/21/01,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/19,2.0
17,18,race_4,NaN,NaN,1411739.0,4/13/11,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/19,2.0
18,19,race_4,NaN,NaN,2067155.0,9/30/08,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/19,2.0
19,20,race_2,NaN,NaN,1124760.0,6/18/03,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/4/19,2.0
20,21,race_5,NaN,NaN,2071384.0,8/21/16,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/2/19,2.0
21,22,race_multi,NaN,NaN,1989492.0,6/26/14,1.0,0.0,0.0,0.0,...,10/9/18,1.0,10/9/18,NaN,1.0,Pressure at insertion site to stop bleeding.,NaN,30,7/3/19,2.0
22,23,race_4,NaN,NaN,2084029.0,8/26/97,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
23,24,race_4,NaN,NaN,1042084.0,6/2/06,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
24,25,race_5,NaN,NaN,2083086.0,9/15/05,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
25,26,race_2,NaN,NaN,1318789.0,7/2/07,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
26,27,race_6,NaN,NaN,1924603.0,5/5/99,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
27,28,race_2,NaN,NaN,1047863.0,9/1/04,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/3/19,2.0
28,29,race_2,NaN,NaN,548328.0,8/15/92,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/25/19,2.0
29,30,race_1,NaN,NaN,2125933.0,4/11/98,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/25/19,2.0

In [10]:
columns = ['race','gender','tx_type']
categorical = ['race','gender','tx_type']
table1 = TableOne(demographics, columns,categorical)
table1

                    isnull    overall
variable level
n                                  30
race     race_1          0    1 (3.3)
         race_2              5 (16.7)
         race_4             13 (43.3)
         race_5              8 (26.7)
         race_6               1 (3.3)
         race_multi           1 (3.3)
         unknown              1 (3.3)
gender   0.0             0  14 (46.7)
         1.0                16 (53.3)
tx_type  0.0             1   9 (31.0)
         1.0                20 (69.0)