In [1]:
# Libraries
import pandas as pd
import numpy as np
from redcap import Project, RedcapError
from tableone import TableOne
from datetime import datetime
# Data
tokens = pd.read_csv('/Users/timvigers/Documents/Work/api_tokens.csv')
token = tokens.iloc[1,1]
project = Project("https://redcap.ucdenver.edu/api/", token)
data = pd.DataFrame(project.export_records())

In [16]:
# Get demographic info
demographics = data.drop_duplicates(subset='study_id', keep='first')
demographics = demographics.reset_index(drop=True)
# Combine race columns
race = []
for i in range(demographics.shape[0]):
    if demographics.loc[i,'race_multi'] == "1":
        race.append('race_multi')
    elif demographics.loc[i,'race___0'] == "1":
        race.append('race_0')
    elif demographics.loc[i,'race___1'] == "1":
        race.append('race_1')
    elif demographics.loc[i,'race___2'] == "1":
        race.append('race_2')
    elif demographics.loc[i,'race___3'] == "1":
        race.append('race_3')
    elif demographics.loc[i,'race___4'] == "1":
        race.append('race_4')
    elif demographics.loc[i,'race___5'] == "1":
        race.append('race_5')
    elif demographics.loc[i,'race___6'] == "1":
        race.append('race_6')
    else:
        race.append('unknown')
demographics.insert(1,'race',race)

In [17]:
print(demographics['race'])

0         race_4
1         race_4
2         race_4
3         race_2
4         race_5
5         race_5
6         race_4
7         race_5
8         race_5
9        unknown
10        race_4
11        race_4
12        race_5
13        race_5
14        race_4
15        race_4
16        race_4
17        race_4
18        race_4
19        race_2
20        race_5
21    race_multi
22        race_4
23        race_4
24        race_5
25        race_2
26        race_6
27        race_2
28        race_2
29        race_1
Name: race, dtype: object

In [18]:
columns = ['race','gender','tx_type']
categorical = ['race','gender','tx_type']
table1 = TableOne(demographics, columns,categorical)
table1

                    isnull    overall
variable level
n                                  30
race     race_1          0    1 (3.3)
         race_2              5 (16.7)
         race_4             13 (43.3)
         race_5              8 (26.7)
         race_6               1 (3.3)
         race_multi           1 (3.3)
         unknown              1 (3.3)
gender   0               0  14 (46.7)
         1                  16 (53.3)
tx_type                  0    1 (3.3)
         0                   9 (30.0)
         1                  20 (66.7)